<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<div class="top-banner">
    <a href="/"><b>SkinCancer Results</b></a>
</div>

<h1>Diagnosis</h1>

{% if diagnosis %}
  <!-- SHOW RESULTS -->
  <h3>{{ diagnosis }}</h3>

  <h4 style="color:red; margin: 1% 25%; text-align: center;">
    This diagnosis is generated through a machine learning model and is not 100% accurate.
    Please consult a dermatologist before acting on these results.
  </h4>

  {% if filename %}
  <div class="login-block">
    <h3>
      <img src="{{ url_for('static', filename='image/' ~ filename) }}" width="450" height="450">
    </h3>
  </div>
  {% endif %}

  <div style="width: 100%;">
    <div style="width: 50%; height: 60px; place-items: center; display: grid; float: left;">
      <h3 id="predictionmetrics">Prediction Metrics:</h3>
    </div>
    <div style="place-items: center; display: grid; margin-left: 50%; height: 60px;">
      <h3 id="description">Diagnosis Description:</h3>
    </div>
  </div>

  <div style="width: 100%;">
    <div style="text-align: right; width: 50%; height: 300px; display: grid; float: left;">
      <h4>Non-Cancerous: {{ nc }}%</h4>
      <h4>Actinic Keratoses / Intraepithelial Carcinoma: {{ akiec }}%</h4>
      <h4>Basal Cell Carcinoma: {{ bcc }}%</h4>
      <h4>Benign Keratosis: {{ bkl }}%</h4>
      <h4>Dermatofibroma: {{ df }}%</h4>
      <h4>Melanoma: {{ mel }}%</h4>
      <h4>Melanocytic Nevi: {{ nv }}%</h4>
      <h4>Vascular Lesions: {{ vasc }}%</h4>
    </div>
    <div style="margin-left: 50%; width: 50%; height: 300px; text-align: center;">
      <h4 id="descriptiontext">{{ cancer_info }}</h4>
    </div>
  </div>

  <div style="width: 100%; margin-top: 20px;">
    <div style="width: 50%; place-items: center; display: grid; float: left;">
      <div class="button-bottom">
        <a href="mailto:" target="_blank">Email These Results to Your Doctor</a>
      </div>
    </div>
    <div style="width: 50%; place-items: center; display: grid; margin-left: 50%;">
      <div style="width: 50%;" class="button-bottom">
        <a href="/q1">Go Back</a>
      </div>
    </div>
  </div>

{% else %}
  <!-- SHOW UPLOAD FORM -->
  <div class="login-block" style="padding: 20px; text-align: center;">
    <form action="/q2" method="POST" enctype="multipart/form-data">
      <h3>Upload a Skin Image for Diagnosis</h3>
      <input type="file" name="file" required>
      <br>
      <button type="submit">Analyze</button>
    </form>
  </div>
{% endif %}
